@mixin avatar {
	--height: 2.5em;
}



button.icon {
	background-color: var(--bg-color);
	border: 0;
	height: 100%;
	width: var(--height, 1.5rem);
	cursor: pointer;
} .date {
	color: var(--sub-color);
	font-size: .85em;
} .icons {
	--height: 1.5rem;

	display: flex;
	gap: var(--gap-3);
	height: var(--height);
} .delBtn {
	color: var(--sub-color);
	font-size: .85em;
	cursor: pointer;
	transition: color .1s;

	&:hover {
		color: var(--theme-color);
	}
}



#postbox-container {
	margin: auto;
	list-style: none;

	&:empty {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;

		&:before {
			content: "There are no posts to display!";
		} &:after {
			content: "Post a post or follow someone else.";
		} &:before, &:after {
			display: block;
			text-align: center;
			font-weight: bold;
		}
	}
} .postbox {
	border-bottom: 1px solid var(--bd-color);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 1em;
	padding-bottom: 1em;
	gap: var(--gap-4);

	&:not(#post)> *:not(.imgbox-wrapper) {
		padding: 0 .5em;
	}

	.id {
		font-weight: bold;
	} .author {
		display: flex;
		align-items: center;
		gap: var(--gap-2);
		width: 100%;

		& > p {
			flex: 1;
		} a {
			display: inline-flex;
			align-items: center;

			.id {
				padding: 0 .5em;
			}
		}
	} .avatar {
		@include avatar;
	} .likes {
		cursor: pointer;
		transition: .1s color;

		&:hover {
			color: var(--theme-color);
		}
	} .info {
		.id {
			margin-right: .5em;
		}
	} .comments {
		color: var(--sub-color);
		cursor: pointer;

		&:hover {
			color: var(--theme-color);
		}
	} .createdAt {
		color: var(--sub-color);
	}
}



#post {
	margin-bottom: 0;
	padding-bottom: 0;
	flex-direction: row;
	gap: 0;

	.xbtn {
		display: none;
	} .imgbox-wrapper {
		display: none;
	} .icons {
		--height: 2rem;

		gap: 0;
		border-top: 1px solid var(--bd-color);
		padding: var(--gap-4) var(--gap-2);
	} .post-content {
		background-color: var(--bg-color);
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;

		& > ul {
			flex: 1;
			list-style: none;
			overflow: hidden auto;

			ul {
				list-style: none;
				padding-left: var(--gap2);
			}
		} .post {
			border-bottom: 1px solid var(--bd-color);
		} .post, .commentbox {
			display: flex;
			align-items: flex-start;
			gap: var(--gap-2);
			padding: var(--gap-2);

			.info {
				flex: 1;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
			} .id {
				font-weight: bold;
			} .avatar {
				@include avatar;
			} .comment {
				margin-bottom: var(--gap-4);
			} .replyBtn {
				font-size: .85em;
				color: var(--sub-color);
				cursor: pointer;

				&:hover {
					color: var(--theme-color);
				}
			} .likebox {
				display: flex;
				flex-direction: column;
				align-items: center;
			} .mention {
				padding-right: var(--gap-2);
				color: var(--theme-color);

				&:hover {
					text-decoration: underline;
				}
			}
		} form {
			display: flex;
			align-items: flex-start;
			border-top: 1px solid var(--bd-color);

			.reply {
				background-color: var(--sub-bg-color);
				border: 1px solid var(--bd-color);
				border-radius: 1em;
				padding: .25em .5em;
				color: var(--theme-color);
				font-size: .85em;
				margin: .5em;
				margin-right: 0;

				&:before {
					content: "@" attr(userid);
					display: inline;
				}
			} [name="comment"] {
				flex: 1;
				outline: 0;
				border: 0;
				min-height: 3rem;
				max-height: 8.5em;
				resize: none;
				padding: .5em;
			} label {
				background-color: var(--sub-bg-color);
				border-left: 1px solid var(--bd-color);
				display: flex;
				align-items: center;
				padding: 0 var(--gap-2);
				height: 100%;
				cursor: pointer;
				transition: .1s color;

				&:hover {
					color: var(--theme-color);
				}
			}
		}
	}
} @media (min-width: 1024px) {
	header .prev {
		display: none;
	} #post {
		--post-height: calc(var(--window-height) / 10 * 9);
		--post-width: calc(var(--post-height) / 5 * 4);
		--main-width: var(--post-width);

		display: flex;
		justify-content: center;
		align-items: center;

		.xbtn {
			display: inline;
		} .imgbox-wrapper {
			background-color: var(--sub-bg-color);
			border-right: 1px solid var(--bd-color);
			display: flex;
			justify-content: center;
			align-items: center;
			height: var(--post-height);
			width: var(--post-width);

			.imgbox {
				height: 100%;

				li {
					height: 100%;

					img {
						width: auto;
					}
				}
			}
		} .post-content {
			height: var(--post-height);
			width: 500px;
		}
	}
}
