* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} html {
	background-color: var(--bg-color);
	display: flex;
	word-break: break-all;
	word-wrap: break-word;
	min-height: 100%;
	color: var(--color);
	scroll-behavior: smooth;

	&.x-scroll {
		overflow: hidden;
	}
} body {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden auto;
} main {
	flex: 1;
	position: relative;
	margin: auto;
	padding-top: var(--gap);
	width: var(--width);
	max-width: 100%;
} a {
	color: var(--color);
	text-decoration: none;
	transition: .1s color;

	&:hover {
		--svg-draw-color: var(--theme-color);
		color: var(--theme-color);
	}
} button {
	transition: .1s color;
	cursor: pointer;

	&:hover {
		--svg-draw-color: var(--theme-color);
		color: var(--theme-color);
	}
} input, textarea {
	background-color: var(--bg-color);
	color: var(--color);
} textarea.copybox {
	visibility: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	z-index: -999;
} img, svg, use {
	max-height: 100%;
	max-width: 100%;
} svg {
	fill: var(--svg-draw-color);
	stroke: var(--svg-draw-color);
	transition: .1s fill, .1s stroke;
} .avatar, .backImgbox {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	height: var(--height, 100%);
	width: var(--height, 100%);
	overflow: hidden;
} .avatar {
	border-radius: 100%;
} .xbtn {
	background: transparent;
	display: inline;
	border: 0;
	position: absolute;
	top: var(--gap);
	right: var(--gap);
	height: var(--xbtn-height);
	width: var(--xbtn-height);
	cursor: pointer;
} .overlay {
	background-color: #7777;
	position: fixed;
	bottom: 0;
	left: 0;
	height: calc(100% - var(--header-height));
	width: 100%;
	z-index: var(--overlay-zIndex);
} .userList {
	padding: 0;

	& div {
		display: none;
	} ul {
		background-color: var(--bg-color);
		display: flex;
		flex-direction: column;
		height: 100%;
		list-style: none;
	} li {
		border-bottom: 1px solid var(--bd-color);
		display: flex;
		align-items: center;
		gap: var(--gap-2);
		padding: var(--gap-2);

		.avatar {
			--height: 2.5em;
		} a:not(.avatar) {
			flex: 1;
			display: flex;
			flex-direction: column;
		} .follow_id {
			font-weight: bold;
		} label {
			background-color: var(--sub-bg-color);
			border: 1px solid var(--bd-color);
			border-radius: 1em;
			padding: var(--gap-4) var(--gap-2);
			cursor: pointer;
			transition: .1s border-color, .1s color;

			&:hover {
				color: var(--theme-color);
				border-color: var(--theme-color);
			}
		}
	}
} @media (min-width: 1024px) {
	.overlay {
		top: 0;
		height: 100%;
	} .userList {
		--header-height: calc(var(--xbtn-height) + var(--gap2));

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		div {
			background-color: var(--bg-color);
			border-bottom: 1px solid var(--bd-color);
			border-top-right-radius: .5em;
			border-top-left-radius: .5em;
			display: block;
			position: relative;
			width: 500px;
			max-width: 90%;
			text-align: center;
			line-height: var(--header-height);
			font-size: 1.25em;
			font-weight: bold;
		} ul {
			border-bottom-right-radius: .5em;
			border-bottom-left-radius: .5em;
			height: 500px;
			max-height: calc(90% - var(--header-height));
			width: 500px;
			max-width: 90%;
			overflow: hidden auto;
		}
	}
}





body {
	padding-top: var(--header-height);
	padding-bottom: var(--nav-height);
} header {
	background-color: var(--bg-color);
	box-shadow: 0 -20px 30px black;
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	right: 0;
	height: var(--header-height);
	width: 100%;;
	overflow: hidden;
	z-index: var(--header-zIndex);

	#page-title {
		display: block;
		line-height: var(--header-height);
		font-size: 1.25rem;
	} .prev, .next {
		background-color: var(--bg-color);
		border: 0;
		position: absolute;
		top: 0;
		padding: 1em;
		height: var(--header-height);
		width: var(--header-height);
		cursor: pointer;
	} .prev {
		left: 0;
		transform: rotate(-90deg);
	} .next {
		right: 0;
		transform: rotate(90deg);
	}
} nav {
	background-color: var(--bg-color);
	border: 0 solid var(--bd-color);
	border-top-width: 1px;
	position: fixed;
	bottom: 0;
	left: 0;
	height: var(--nav-height);
	width: 100%;
	overflow: hidden;
	z-index: var(--nav-zIndex);

	ul {
		display: flex;
		justify-content: space-around;
		height: 100%;
	} li {
		width: var(--nav-height);
		list-style: none;
	} a {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		height: 100%;
		width: 100%;

		&.select:before {
			content: "";
			display: block;
			position: absolute;
			border: 0 solid var(--theme-color);
			border-top-width: 1px;
			right: 0;
			top: 0;
			height: 0;
			width: 100%;
		}

		.icon, .icon use {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 1em;
			height: 100%;
			width: 100%;
		} .text {
			display: none;
		}
	}
}



@media (min-width: 1024px) {
	body {
		padding-bottom: 0;
		padding-left: var(--nav-width);
	} header {
		width: calc(100% - var(--nav-width));
	} nav {
		border-top-width: 0;
		border-right-width: 1px;
		height: 100%;
		width: var(--nav-width);

		ul {
			flex-direction: column;
			justify-content: flex-start;
		} li {
			height: var(--nav-height);
			width: 100%;
		} a {
			justify-content: flex-start;
			align-items: center;
			padding: 0;
			gap: var(--gap-2);

			&.select:before {
				border-top-width: 0;
				border-right-width: 1px;
				height: 100%;
				width: 0;
			}

			.icon {
				width: var(--nav-height);
			} .text {
				display: flex;
				font-size: 1.15em;
			}
		}
	}
}


