<% if (login) { %><div hidden>
	<svg>
		<symbol id="svg-home"><!-- viewBox="0 0 64 64" -->
			<path d="m 1,32 31,-31 31,31 -10,0 0,31 -13,0 0,-20 q -8,-10 -16,0 l 0,20 -13,0 0,-31 z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
		</symbol>
		<symbol id="svg-search"><!-- viewBox="0 0 64 64" -->
			<circle r="24" cx="28" cy="28" fill="none" stroke-width="8"></circle>
			<path d="M 58.2,64 h -20" stroke-width="8" stroke-linecap="round" stroke-linejoin="round" transform-origin="64 64" transform="rotate(45)"></path>
		</symbol>
		<symbol id="svg-upload"><!-- viewBox="0 0 64 64" -->
			<path d="M 14,4 h 36 q 10,0 10,10 v 36 q 0,10 -10,10 h -36 q -10,0 -10,-10 v -36 q 0,-10 10,-10 z" fill="none" stroke-width="8" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M 20,32 h 24 M 32,20 v 24" fill="none" stroke-width="8" stroke-linecap="round" stroke-linejoin="round"/>
		</symbol>
		<symbol id="svg-settings"><!-- viewBox="0 0 64 64" -->
			<circle r="16" cx="32" cy="32" fill="none" stroke-width="7"></circle>
			<path id="svg-settings-p" d="M 27,0 h 10 l 4,14 h -18 z" stroke="none"></path>
			<use href="#svg-settings-p" transform-origin="center" transform="rotate(45)"></use>
			<use href="#svg-settings-p" transform-origin="center" transform="rotate(90)"></use>
			<use href="#svg-settings-p" transform-origin="center" transform="rotate(135)"></use>
			<use href="#svg-settings-p" transform-origin="center" transform="rotate(180)"></use>
			<use href="#svg-settings-p" transform-origin="center" transform="rotate(225)"></use>
			<use href="#svg-settings-p" transform-origin="center" transform="rotate(270)"></use>
			<use href="#svg-settings-p" transform-origin="center" transform="rotate(315)"></use>
		</symbol>
		<symbol id="svg-arrow"><!-- viewBox="0 0 64 64" -->
			<path d="M 5,27 32,5 59,27 32,5 z M 32,5 v 54" fill="none" stroke-width="10" stroke-linecap="round" stroke-linejoin="round"/>
		</symbol>
		<symbol id="svg-arrow-2"><!-- viewBox="0 0 64 32" -->
			<path d="M 5,27 32,5 59,27 32,5 z" fill="none" stroke-width="10" stroke-linecap="round" stroke-linejoin="round"></path>
		</symbol>
		<symbol id="svg-list"><!-- viewBox="0 0 64 46" -->
			<g id="svg-list-g">
				<circle cx="4" cy="23" r="4" stroke-width="1"/>
				<path d="m 16,23 h 41" fill="none" stroke-width="8" stroke-linecap="round" stroke-linejoin="round"/>
			</g>
			<use href="#svg-list-g" transform="translate(0 -18)"/>
			<use href="#svg-list-g" transform="translate(0 18)"/>
		</symbol>
		<symbol id="svg-x"><!-- viewBox="0 0 64 64" -->
			<path id="svg-x-p" d="M 3,3 61,61 z" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"></path>
			<use href="#svg-x-p" transform="rotate(90)" transform-origin="center"></use>
		</symbol>








		<symbol id="svg-heart"><!-- viewBox="0 0 48 48" --><!-- https://www.instagram.com/ -->
			<path d="M16.792 3.904A4.989 4.989 0 0 1 21.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 0 1 4.708-5.218 4.21 4.21 0 0 1 3.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 0 1 3.679-1.938m0-2a6.04 6.04 0 0 0-4.797 2.127 6.052 6.052 0 0 0-4.787-2.127A6.985 6.985 0 0 0 .5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 0 0 3.518 3.018 2 2 0 0 0 2.174 0 45.263 45.263 0 0 0 3.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 0 0-6.708-7.218Z" stroke="none"/>
		<symbol id="svg-heartFill"><!-- viewBox="0 0 48 48" --><!-- https://www.instagram.com/ -->
			<path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z" stroke="red" fill="red"/>
		</symbol>
		</symbol>
		<symbol id="svg-comment"><!-- viewBox="0 0 24 24" --><!-- https://www.instagram.com/ -->
			<path d="M20.656 17.008a9.993 9.993 0 1 0-3.59 3.615L22 22Z" fill="none" stroke-linejoin="round" stroke-width="2"/>
		</symbol>

		<symbol id="svg-message"><!-- viewBox="0 0 24 24" --><!-- https://www.instagram.com/ -->
			<line fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2" x1="22" x2="9.218" y1="3" y2="10.083"/>
			<polygon fill="none" points="11.698 20.334 22 3.001 2 3.001 9.218 10.084 11.698 20.334" stroke="currentColor" stroke-linejoin="round" stroke-width="2"/>
		</symbol>
	</svg>
</div><% } %>
